/* стили */

.header,
.footer {
   justify-content: center;
   grid-row: auto;
   flex: content;
   flex-wrap: wrap;
}

.layout {
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   width: 700px;
}

.layout1 {
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   width: 1100px;
}

.col1_noborder {
   width: 180px;
   float: left;
}

.col1 {
   float: left;
   width: 180px;
   border: 1px solid #424242;
   height: 100% !important;
}

.col2 {
   width: 300px;
   margin: 0 200px 0 200px;
   padding: 10px;
   border: 1px solid #424242;
   justify-content: center;
}

.col2_wide {
   width: 700px;
   margin: 0 200px 0 200px;
   padding: 10px;
   border: 1px solid #424242;
   justify-content: center;
}

.col3_noborder {
   width: 180px;
   height: 94px;
   float: right;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.col3 {
   width: 180px;
   float: right;
   border: 1px solid #424242;
   padding: 10px;
}

.logo {
   height: 5.8em;
   padding: 0.5em;
   will-change: filter;
   transition: filter 300ms;
 }
 .logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
 }
 @keyframes logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
 
 @media (prefers-reduced-motion: no-preference) {
   .logo {
     animation: logo-spin infinite 20s linear;
   }
 }