/* стили */
body {
   background-image: url(./assets/back1.jpg) !important;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.col2-app {
   background-color: #303841;
   width: 650px;
   margin: 0 210px 15px 210px;
   padding: 20px;
   justify-content: center;
   border: 1px solid #424242;
   border-radius: 10px;
}

.big-text {
   font-size: 30px;
   font-weight: 300;
}

.big-title {
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 20px;
}