/* стили */
body {
   background-image: url(./assets/back1.jpg) !important;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.col2-app {
   background-color: #303841;
   width: 600px;
   margin: 0 200px 15px 200px;
   padding: 15px;
   justify-content: center;
   border: 1px solid #424242;
   border-radius: 10px;
}