/* стили */

.header,
.footer {
   justify-content: center;
   grid-row: auto;
   flex: content;
   flex-wrap: wrap;
}

.layout {
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
}

.layout2 {
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
   padding: 10px;
   background: #303841;
   margin-bottom: 10px;
   margin-top: 10px;
   border: 1px solid #424242;
   border-radius: 10px;
}

.col1 {
   float: left;
   width: 190px;
   border: 1px solid #424242;
   background: #303841;
   height: 100% !important;
   border-radius: 10px;
}


.col3 {
   width: 190px;
   float: right;
   border: 1px solid #424242;
   background: #303841;
   padding: 10px;
   border-radius: 10px;
}

.logo {
   padding: 0.5em;
   will-change: filter;
   transition: filter 300ms;
}

.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   .logo {
      animation: logo-spin infinite 15s linear;
   }
}